{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 major versions"
          ]
        },
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 1 major versions"
              ]
            }
          }
        ],
        "stage-0",
        "react"
      ]
    }
  }
}
