html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #fff;
    color: $color-text-default;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

:global .app {
    height: 100%;
}
